<h3>{{username}}</h3>

<ul>
  <li>ID: {{id}}</li>
  <li>First:    {{first_name}}</li>
  <li>Last:     {{last_name}}</li>
  <li>Email:    {{email}}</li>
  <li>Location: {{city}}, {{state}}</li>
  <li>Birthday: {{birthday}}</li>
</ul>
